{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.html"],
      "singleQuote": false
    }
  ]
}
