<main class="main">
  <div
    class="map z-0"
    leaflet
    [leafletOptions]="options"
    [leafletCenter]="mapCenter"
    (leafletCenterChange)="changeCurrentPosition($event)"
    [leafletLayers]="layers"></div>

  <div *ngIf="!isCreate()">
    <p-card
      header="Wo ist mein Amazing Artur?"
      subheader="Silence be the last you hear"
      class="fixed max-sm:max-10 bottom-4 start-4 md:top-4 md:start-16">
      <p>Finde Amazing Artur Sticker!</p>
    </p-card>

    <div class="fixed p-2 rounded max-sm:max-10 top-4 end-4 bg-surface-50">
      <i class="pi pi-plus cursor-pointer" (click)="navigateToCreate()"></i>
    </div>

    <button
      type="button"
      class="fixed p-2 rounded max-sm:max-10 bottom-4 end-4 bg-surface-50"
      (click)="updatePosition()">
      {{ isUpdatingPosition ? 'Finding …' : 'Where am I?' }}
    </button>
  </div>

  <create-marker *ngIf="isCreate()" />
</main>
