<app-page title$="Suchen" subTitle$="Ich schwöre ich hatte den irgendwo eingetragen!">
  <div class="flex flex-col gap-2 mb-10">
    <input
      type="text"
      [formControl]="searchTerm"
      id="title"
      placeholder="Gebe mindestens drei Zeichen ein.."
      (input)="search()" />
  </div>
  <div class="flex flex-col gap-4">
    @if (foundMarkers.length) {
      <h3>{{ foundMarkers.length }} Marker gefunden</h3>
    }
    @for (marker of foundMarkers; track marker.id) {
      <a
        (click)="navigate(marker)"
        class="bg-amazing hover:bg-amazing-light p-6 cursor-pointer rounded-lg">
        <div class="flex gap-4 items-center">
          @if (marker.country && marker.country.length === 2) {
            <img [src]="getFlagUrl(marker.country)" class="w-6 h-6 rounded-lg" />
          }
          <h4 class="text-xl">{{ marker.name }}</h4>
        </div>
        <p class="mt-2">{{ marker.description }}</p>
        @if (marker.uploader) {
          <small>Von {{ marker.uploader }} eingetragen</small>
        }
      </a>
    } @empty {
      @if (searchTerm.getRawValue()!.length && searchTerm.getRawValue()!.length > 2) {
        Keine Marker gefunden
      }
    }
  </div>
</app-page>
